{% extends 'serverclubs/layout.html' %}
{% block body %}
<h2>Club Members</h2>
<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ member.first_name }} {{ member.last_name }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.phone }}</td>
            <td>{{ member.city }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock%}