{% extends "serverclubs/layout.html" %}
{% block body %}

<head>
    <link rel="stylesheet" href="static/serverclubs/problems.css">
</head>

<body>
    <div class="container">
        <h2>Array Problems</h2>
        <table>
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Problem Name</th>
                    <th>Problem Link</th>
                    <th>Difficulty</th>
                    <th>Tags</th>
                    <th>Solution Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Majority Element</td>
                    <td><a href="https://leetcode.com/problems/majority-element/description/" target="_blank">Problem
                            Link</a></td>
                    <td>Easy</td>
                    <td></td>
                    <td><a href="https://youtu.be/_xqIp2rj8bo?t=882">Solution</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Repeat & Missing Number</td>
                    <td><a href="https://leetcode.com/problems/find-missing-and-repeated-values/description/"
                            target="_blank">Problem
                            Link</a></td>
                    <td>Easy</td>
                    <td>Hashing</td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Merge 2 Sorted Arrays Without Extra Space</td>
                    <td><a href="https://leetcode.com/problems/merge-sorted-array/description/" target="_blank">Problem
                            Link</a></td>
                    <td>Easy</td>
                    <td>Sorting</td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Single Number</td>
                    <td><a href="https://leetcode.com/problems/single-number/description/" target="_blank">Problem
                            Link</a>
                    </td>
                    <td>Easy</td>
                    <td></td>
                    <td><a href="https://youtu.be/8C1wD5anN-Q">Solution</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Stock Buy & Sell</td>
                    <td><a href="https://leetcode.com/problems/best-time-to-buy-and-sell-stock/description/"
                            target="_blank">Problem
                            Link</a></td>
                    <td>Easy</td>
                    <td></td>
                    <td><a href="https://youtu.be/N6qMToE1U5o">Solution</a></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Kadane's Algorithm</td>
                    <td><a href="https://leetcode.com/problems/maximum-subarray/description/" target="_blank">Problem
                            Link</a></td>
                    <td>Medium</td>
                    <td></td>
                    <td><a href="https://youtu.be/2MmFlF5_c6M">Solution</a></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Pow(x, n)</td>
                    <td><a href="https://leetcode.com/problems/powx-n/description/" target="_blank">Problem Link</a>
                    </td>
                    <td>Medium</td>
                    <td></td>
                    <td><a href="https://youtu.be/LGfF4NOq_b0">Solution</a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Container With Most Water</td>
                    <td><a href="https://leetcode.com/problems/container-with-most-water/description/"
                            target="_blank">Problem Link</a>
                    </td>
                    <td>Medium</td>
                    <td></td>
                    <td><a href="https://youtu.be/pZ5e1ZK8BvM">Solution</a></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Sort Array of 0s, 1s & 2s</td>
                    <td><a href="https://leetcode.com/problems/sort-colors/description/" target="_blank">Problem
                            Link</a>
                    </td>
                    <td>Medium</td>
                    <td>Sorting</td>
                    <td></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>3Sum</td>
                    <td><a href="https://leetcode.com/problems/3sum/description/" target="_blank">Problem Link</a></td>
                    <td>Medium</td>
                    <td>Hashing</td>
                    <td></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>4Sum</td>
                    <td><a href="https://leetcode.com/problems/4sum/description/" target="_blank">Problem Link</a></td>
                    <td>Medium</td>
                    <td>Hashing</td>
                    <td></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Search in 2D Matrix</td>
                    <td><a href="https://leetcode.com/problems/search-a-2d-matrix/description/" target="_blank">Problem
                            Link</a></td>
                    <td>Medium</td>
                    <td>Matrix</td>
                    <td></td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Next Permutation</td>
                    <td><a href="https://leetcode.com/problems/next-permutation/description/" target="_blank">Problem
                            Link</a></td>
                    <td>Medium</td>
                    <td>Sorting</td>
                    <td></td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Merge Overlapping Intervals</td>
                    <td><a href="https://leetcode.com/problems/merge-intervals/description/" target="_blank">Problem
                            Link</a></td>
                    <td>Medium</td>
                    <td>Sorting</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Longest Substring Without Repeating</td>
                    <td><a href="https://leetcode.com/problems/longest-substring-without-repeating-characters/description/"
                            target="_blank">Problem
                            Link</a></td>
                    <td>Medium</td>
                    <td>String</td>
                    <td></td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Set Matrix Zeroes</td>
                    <td><a href="https://leetcode.com/problems/set-matrix-zeroes/description/" target="_blank">Problem
                            Link</a></td>
                    <td>Medium</td>
                    <td>Matrix</td>
                    <td></td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Word Search</td>
                    <td><a href="https://leetcode.com/problems/word-search/description/" target="_blank">Problem
                            Link</a>
                    </td>
                    <td>Medium</td>
                    <td>Recursion</td>
                    <td></td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Product of Array Except Itself</td>
                    <td><a href="https://leetcode.com/problems/product-of-array-except-self/description/"
                            target="_blank">Problem
                            Link</a></td>
                    <td>Medium</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Subarray Sum Equals K</td>
                    <td><a href="https://leetcode.com/problems/subarray-sum-equals-k/description/"
                            target="_blank">Problem
                            Link</a></td>
                    <td>Medium</td>
                    <td>Hashing</td>
                    <td></td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Find All Duplicates in an Array</td>
                    <td><a href="https://leetcode.com/problems/find-all-duplicates-in-an-array/description/"
                            target="_blank">Problem
                            Link</a></td>
                    <td>Medium</td>
                    <td>Hashing</td>
                    <td></td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Longest Consecutive Sequence</td>
                    <td><a href="https://leetcode.com/problems/longest-consecutive-sequence/description/"
                            target="_blank">Problem
                            Link</a></td>
                    <td>Medium</td>
                    <td>Hashing</td>
                    <td></td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>Minimum Size Subarray Sum</td>
                    <td><a href="https://leetcode.com/problems/minimum-size-subarray-sum/description/"
                            target="_blank">Problem Link</a>
                    </td>
                    <td>Medium</td>
                    <td>Sliding Window</td>
                    <td></td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>Find Minimum in Rotated Sorted Array</td>
                    <td><a href="https://leetcode.com/problems/find-minimum-in-rotated-sorted-array/description/"
                            target="_blank">Problem
                            Link</a></td>
                    <td>Medium</td>
                    <td>Binary Search</td>
                    <td></td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>Search a 2D Matrix II</td>
                    <td><a href="https://leetcode.com/problems/search-a-2d-matrix-ii/description/"
                            target="_blank">Problem
                            Link</a></td>
                    <td>Medium</td>
                    <td>Binary Search</td>
                    <td></td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>Set Matrix Zeroes</td>
                    <td><a href="https://leetcode.com/problems/set-matrix-zeroes/description/" target="_blank">Problem
                            Link</a></td>
                    <td>Medium</td>
                    <td>Matrix</td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <h2>Binary Search Problems</h2>
        <table>
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Problem Name</th>
                    <th>Problem Link</th>
                    <th>Difficulty</th>
                    <th>Tags</th>
                    <th>Solution Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Peak Index in Mountain Array</td>
                    <td><a href="https://leetcode.com/problems/peak-index-in-a-mountain-array/description/"
                            target="_blank">Problem
                            Link</a></td>
                    <td>Medium</td>
                    <td></td>
                    <td><a href="https://youtu.be/RjxD6UXGlhc">Solution</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Search in Rotated Sorted Array</td>
                    <td><a href="https://leetcode.com/problems/search-in-rotated-sorted-array/description/"
                            target="_blank">Problem
                            Link</a></td>
                    <td>Medium</td>
                    <td></td>
                    <td><a href="https://youtu.be/6WNZQBHWQJs">Solution</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Single Element in Sorted Array</td>
                    <td><a href="https://leetcode.com/problems/single-element-in-a-sorted-array/description/"
                            target="_blank">Problem
                            Link</a></td>
                    <td>Medium</td>
                    <td></td>
                    <td><a href="https://youtu.be/qsbCBduIs40">Solution</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Kth Smallest Element in a Sorted Matrix</td>
                    <td><a href="https://leetcode.com/problems/kth-smallest-element-in-a-sorted-matrix/description/"
                            target="_blank">Problem
                            Link</a></td>
                    <td>Medium</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Find Minimum in Rotated Sorted Array II</td>
                    <td><a href="https://leetcode.com/problems/find-minimum-in-rotated-sorted-array-ii/description/"
                            target="_blank">Problem
                            Link</a></td>
                    <td>Hard</td>
                    <td>Binary Search</td>
                    <td></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Median of Two Sorted Arrays</td>
                    <td><a href="https://leetcode.com/problems/median-of-two-sorted-arrays/description/"
                            target="_blank">Problem
                            Link</a></td>
                    <td>Hard</td>
                    <td>Binary Search</td>
                    <td></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Search a 2D Matrix</td>
                    <td><a href="https://leetcode.com/problems/search-a-2d-matrix/description/" target="_blank">Problem
                            Link</a></td>
                    <td>Medium</td>
                    <td>Matrix</td>
                    <td></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Find Peak Element</td>
                    <td><a href="https://leetcode.com/problems/find-peak-element/description/" target="_blank">Problem
                            Link</a></td>
                    <td>Medium</td>
                    <td>Binary Search</td>
                    <td></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Divide Chocolate</td>
                    <td><a href="https://leetcode.com/problems/divide-chocolate/description/" target="_blank">Problem
                            Link</a></td>
                    <td>Hard</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
<!-- <script src="static/serverclubs/problem.js'"></script> -->


{%endblock%}