{% extends "serverclubs/layout.html" %}
{% block body %}

<head>
    <link rel="stylesheet" href="static/serverclubs/register.css">
    <script>
        function closeForm() {
            window.location.href = "{% url 'home' %}";
        }
    </script>

</head>

<body>
    <div class="container">
        <h2>Register</h2>
        {% if error %}
        <h4 style="color:red;">{{ error }}</h4>
        {% endif %}
        <div>
            <form method="post" id="registrationForm">
                <button type="button" class="close-btn" onclick="closeForm()">&times;</button>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="tooltip">
                    <input type="submit" value="Submit" id="submitBtn">
                    <span class="tooltiptext">Click to submit your form</span>
                </div>

                <div class="loader" id="loader"></div> <!-- Loader here -->
            </form>
        </div>
    </div>
</body>
<script src="static/serverclubs/register.js"></script>

{% endblock %}